*{
  margin:0px;
  padding:0px;
}
#TODO{
  width: 100vw;
  height: 100vh;
  position:absolute;
  background-image: url("689539.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
#cuerpo{
   position: absolute;
    margin: auto;
    margin-left: 50vh;
    margin-right: 50vh;
    width: 80vh;
    height: 100vh;
    overflow: visible;
    overflow-wrap: break-word;
    font-size: 1.5vh;
    font-family: Helvetica;
}
#Izquierda{
 position: relative;
    float: left;
    margin: auto;
    margin-left: 5vh;
    margin-top: 25px;
    padding: 3%;
    width: 10vh;
    height: 80vh;
    overflow: visible;
    overflow-wrap: break-word;
    font-size: 1vh;
    border: solid #02edbd;
    border-width: 0.5vh;
}
#Derecha{
    position: relative;
    float: right;
    margin: auto;
    margin-left: 0vh;
    margin-right: 5vh;
    margin-top: 25px;
    padding: 3%;
    width: 10vh;
    height: 80vh;
    overflow: visible;
    overflow-wrap: break-word;
    font-size: 1vh;
    border: solid #02edbd;
    border-width: 1vh;

}



#title{
  color:green;
 
  text-align:center;
}
#descripcion{
  font-family: serif;
  font-family: sans-serif;
}
