*{
  margin:0px;
  padding:0px;
}
#TODO{
  width: 100vw;
  height: 100vh;
  position:
  absolute;
}
#Izquierda{
  position: relative;
  float: left;
  margin: auto;
  margin-left: 0px;
  margin-top: 25 px;
  padding: 3%;
  width: 10vh;
  height: 80vh;
  overflow: visible;
  overflow-wrap: break-word;
  font-size: xx-small;
  border: solid #02edbd;
  border-width: medium medium medium medium;
}
#Derecha{
    position: relative;
    float: right;
    margin: auto;
    margin-left: 0px;
    martin-top: 25px;
    padding: 3%;
    width: 10vh;
    height: 80vh;
    overflow: visible;
    overflow-wrap: break-word;
    font-size: xx-small;
    border: solid #02edbd;
    border-width: medium medium medium medium;

}



#title{
  color:green;
 
  text-align:center;
}
#descripcion{
  font-family: serif;
  font-family: sans-serif;
}
